
# 1. Ignore the Data Lake (Heavy Parquet files)
datalake/
airflow/
airflow_dags/

# 2. Ignore Python compilation files
__pycache__/
*.pyc

# 3. Ignore Logs & OS files
*.log
.DS_Store

# 4. Ignore Virtual Env (if exists)
venv/
.env